#ok-background {

    background-image: url("../assets/css-images/background1.jpg");
    background-color: hsl(122, 49%, 38%);
    background-repeat: no-repeat;
    background-size: cover;
}


.ok-text-color {

    color: black;
    border-color: whitesmoke;

}

.ok-footer-background {
    background-color: #4CAF50;
}

.ok-table-container {

    float: center;
    width: 25;
}
.register-form2 {

    border-radius: 20px;
}
input {
    border-radius: 20px;
	height: 40px;
	line-height: 40px;
	table: inline-block;
	padding: 0px 15px;
	color: #6a6a6a;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 10px;
}

.name{
    padding-top: 10px;

}
.input2 {
    border-radius: 20px;
	height: 40px;
	line-height: 40px;
	padding: 5px 15px;
	color: #6a6a6a;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: solid 1px;
	margin-bottom: 10px;
    text-align: center;
}

.right-bar-item {
	padding: 8px 16px;
    float: right;
    width: auto;
    border: none;
    table: block;
    outline: 0;
	text-align: right;
	border: none;
    white-space: normal;

}

.pet-table .pet-table2{
    box-sizing: border-box;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 30%;
    color: black;
}
.pet-table2 {
    border: 1px solid #ccc;
}

.pet-bordered tr, .pet-table2 tr {
    border-bottom: 1px solid #ddd;

}

.pet-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.pet-table2 tr:nth-child(odd) {
    background-color: #fff;
}

.pet-table2 tr:nth-child(even) {
    background-color: #f1f1f1;
}
.pet-table td, .pet-table th, .pet-table2 td, .pet-table2 th {
    color: black;
	width: 250px;
    height: 170px;
    padding: 8px 8px;
    text-align: center;
    
	box-shadow: rgba(0, 0, 0, 0.15);

}
#image-container {
    width: 250px !important; 
    height: 500px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.pet-table img {
    width: 100%;
    height: auto;
}
.pet-table th:first-child, .pet-table td:first-child, .pet-table2 th:first-child, .pet-table2 td:first-child {
    padding-left: 16px;
	width: auto;
    height: 70px;
}


.ok-row {
    margin-left:-5px;
  }
    
  .ok-column {
    float: left;
    width: 350px;
    padding: 25px;
  }
  .ok-row::after {
    content: "";
    clear: both;
    display: table;
  }

  .ok-content{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 15px;

  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-self: center;

  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;

  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .resize{
    height: 100px;
    width: 100px;

  }
  .resize2{
    height: 100px !important;
    width : 100px !important;
  }